<!DOCTYPE html>
<html lang="en">

  <head>
    {% load staticfiles %}

    <link href="{% static '/personal/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Kai Peng's Blog</title>

    <!-- Bootstrap core CSS -->
<!--
    <link href="{% static 'personal/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'django_comments_xtd/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{% static 'personal/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->

    <link href="{% static 'personal/css/clean-blog.min.css' %}" rel="stylesheet">

    <link href="{% static 'posts/css/Beth-Qiang.min.css' %}"
    <link href="{% static 'personal/css/go-top.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Poppins">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" rel="stylesheet">

  </head>

  <body>


    <!-- Navigation -->

    <nav class="nav navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
            <div class="navbar-header">
            <button class="nav navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
             </div>
        <div class="navbar-collapse collapse" id="navbarResponsive">
          <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class = "nav-link" href='/' >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav nav-link" href= "{% url 'posts' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'email' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'resume' %}">Resume</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    {% block additional_styles %}

    <header class="masthead" style="background-image: url('{% static "light.jpg" %}')" >{% endblock %}   <!-- this is essential.... -->
      <div class="overlay"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div id="main-container" class="container" >
                  <p id="city" class="text-center" style="margin: 10px 0px 10px 0px;"></p>
                  <p id="state" class="text-center" style="margin: 10px 0px 10px 0px;"></p>
                <div id="current-weather" class="container" style="position: relative; left: 33px; position: relative; top: -0px;">
                  <!-- <div class="col"> -->
                  <div class="col-xs-4 valign" >
                      <!-- <br> -->
                      <canvas id="weather-icon" width="75" height="75" style="position: relative; top: 5px;">.</canvas>

                  </div>
                    <!--
                    -->
                    <div class="col-xs-4 valign">
                      <h1 id="temp">°</h1>
                    </div>


                  <div class="col text-top" style="margin: 1px 10px 5px 10px;" style="position: relative; left: 25px; position: relative; top: -50px;">
                    <div class="row-xs-4">
                      <h1 id="weather-description" align="center" style="position: relative; left: -50px; color: white; margin: 10px 10px 1px 10px;"></h1>
                    </div>
                    <div class="row-xs-4">
                      <h1 id="feels-like" align="center" style="position: relative; left: -50px; color: white; margin: 10px 10px 5px 10px;"></h1>
                    </div>
                  </div>
                </div>
                <hr class="style1" style = "margin: 8px 2px 20px 2px; padding-left: 40px" >


                <div id="forecast" class="container" align="center">
                  <div class="row" style="position: relative; left: -10px; position: relative; top: -25px;">
                    <div class="row-xs-4 text-top" style = "margin: 1px 10px 5px 10px; position: relative; left: 30px;" >
                      <p id="day2" style="margin: 10px 0px 10px 0px;"></p>
                      <canvas id="weather-icon-day2" width="45" height="45"></canvas>
                      <p id="day2-high-low" style="margin: 1px 10px 1px 10px;"></p>
                      <i id="day2-raindrop" class="wi wi-raindrop" style="position: relative; left: -3px;"></i>
                      <p id="day2-precip" style="margin: 1px 10px 1px 1px; position: relative; left: -6px;"></p>
                    </div>
                    <div class="col-xs-4 text-center" style = "padding-right: 0px;">
                      <p id="day3" style="margin: 10px 0px 10px 0px;"></p>
                      <canvas id="weather-icon-day3" width="45" height="45"></canvas>
                      <p id="day3-high-low" style="margin: 1px 10px 1px 5px;"></p>
                      <i id="day3-raindrop" class="wi wi-raindrop" style="position: relative; left: -3px;"></i>
                      <p id="day3-precip" style="margin: 1px 10px 1px 1px; position: relative; left: -6px;" ></p>
                    </div>
                    <div class="col-xs-4 text-center" style="position: relative; left: -20px;">
                      <p id="day4" style="margin: 10px 0px 10px 0px;"></p>
                      <canvas id="weather-icon-day4" width="45" height="45"style="position: relative; top: 6px;" ></canvas>
                      <p id="day4-high-low" style="margin: 1px 10px 1px 5px;"></p>
                      <i id="day4-raindrop" class="wi wi-raindrop" ></i>
                      <p id="day4-precip" style="margin: 1px 15px 1px 1px; position: relative; left: -3px; position: relative; left: -3px;"></p>
                    </div>
                  </div>
                </div>
              </div>

       </div>          <!-- weather app -->             <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <div class= "col-8">

              {% block title %}

              <div class="site-heading mx-auto">
                  <h1 align="left" style="position: relative; left: 100px; color: white;"> Kai Peng</h1>
              <span class="subheading" align="left" style="position: relative; left: 100px;">Student, tutor and programmer.</span>
              </div>

               {% endblock %}
             </div>
          </div>
        </div>
      </div>
    </div>
    </header>


      {% block content %}

      {% endblock %}


    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/nicooda">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/nicoodakp">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; kai-peng.net  2018</p>
          </div>
        </div>
      </div>


    </footer>

     <!-- Bootstrap core JavaScript -->

	 <script src="{% static 'personal/vendor/jquery/jquery.min.js' %}"></script>
	 <script src="{% static 'personal/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	 <!-- Custom scripts for this template -->
   <!-- <script src="static/posts/js/Beth-Qiang.min.js"></script> -->
   <script src="{% static 'personal/vendor/jquery/Beth-Qiang.min.js' %}"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
	 <script src="{% static 'personal/js/clean-blog.min.js' %}"></script>
   <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
</body>
</html>
